version: '3.9'

services:
  vgtpbx-switch:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - FS_TOKEN
      secrets:
        - fs_token
    image: vgtpbx-switch:latest
    container_name: vgtpbx-switch
    network_mode: "host"
    environment:
      - POSTGRES_HOST=vgtpbx-postgres
      - SWITCH_DB_NAME=freeswitch
      - SWITCH_DB_USER=freeswitch
      - SWITCH_DB_PASSWORD=insecure12345
      - FS_STARTUP_OPTIMIZATION=true
      - FREESWITCH_LOG_LEVEL=debug
    volumes:
      - vgtpbx-freeswitch-config:/etc/vgtpbx/freeswitch
      - vgtpbx-freeswitch-recordings:/etc/vgtpbx/media/fs/recordings
      - vgtpbx-freeswitch-storage:/etc/vgtpbx/media/fs/storage
      - vgtpbx-freeswitch-log:/var/log/freeswitch
    tmpfs:
      - /var/lib/freeswitch/db:size=256m,noexec,nosuid,nodev
    ports:
      - "5060:5060/udp"  # SIP UDP
      - "5060:5060/tcp"  # SIP TCP
      - "5061:5061/tcp"  # SIP TLS
      - "5080:5080/udp"  # SIP UDP Alternative
      - "5080:5080/tcp"  # SIP TCP Alternative
      - "5066:5066/tcp"  # WebSocket for WebRTC
      - "7443:7443/tcp"  # WebSocket TLS for WebRTC
      - "8021:8021/tcp"  # Event Socket
      #- "16384-32768:16384-32768/udp"   # RTP Media range
    healthcheck:
      test: ["CMD", "fs_cli", "-x", "status"]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 60s
    restart: unless-stopped
    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - NET_RAW
      - SYS_RESOURCE
      - IPC_LOCK
    security_opt:
      - seccomp:unconfined
    ulimits:
      nproc: 65535
      nofile:
        soft: 999999
        hard: 999999
      core:
        soft: -1
        hard: -1
      memlock:
        soft: -1
        hard: -1
      rtprio:
        soft: 99
        hard: 99

volumes:
  vgtpbx-freeswitch-config:
    name: vgtpbx-freeswitch-config
  vgtpbx-freeswitch-recordings:
    name: vgtpbx-freeswitch-recordings
  vgtpbx-freeswitch-storage:
    name: vgtpbx-freeswitch-storage
  vgtpbx-freeswitch-log:
    name: vgtpbx-freeswitch-log

secrets:
  fs_token:
    environment: FS_TOKEN
